rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOwner() {
      return request.auth.uid == 'OWNER_UID';
    }
    function within2Days(time) {
      return request.time.toMillis() <= time + 2 * 24 * 60 * 60 * 1000;
    }
    match /hotline117/{docId} {
      allow read: if request.auth != null;
      allow create: if request.auth != null;
      allow update, delete: if isOwner() ||
           (request.auth != null &&
            within2Days(resource.data.createdAt.toMillis()));
    }
  }
}